/* External CSS for Material UI Styling overide */
/* Main styling on App.js */

.App {
  text-align: center;
}

.header-image{
  padding: 22rem;
}

.App .MuiImageList-root {
  overflow: visible;
  padding: 450px;
}

.App .MuiImageListItem-imgFullWidth {
  top: 50%;
  width: 30%;
}
