/* External CSS for Material UI Styling overide */
/* Main styling on App.js */

* {
  font-family: RobotoLight;
}

h6{
  font-family: RobotoItalic;
  position: relative;
  bottom: 26.5rem;
  margin-right: 0.6rem;
  color: rgb(211, 0, 0);
}

.App {
  text-align: center;
}

.header-image{
  padding: 22rem;
}

.App .MuiImageList-root {
  overflow: visible;
  padding: 350px;
  position: relative;
  bottom: 110px;
}

.App .MuiImageListItem-imgFullWidth {
  top: 40%;
  width: 30%;
}
